<html lang="en">
<head>
    {% load static %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <style>
        body {
            background: url("{% static "images/student-849821_1920.jpg" %}") no-repeat center center/cover fixed;
        }

        label {
            font-weight: bold;
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
{% include 'usernavigation.html' %}
<div class="container">
    <div class="text-danger p-5 h1 text-center" style="background: whitesmoke;opacity: 0.6;margin-top: 10%">
        WELCOME, LOGIN SUCCESSFUL
        <div class="bg-dark text-white">{{ request.session.applicantemail }}</div>
    </div>
</div>
</body>
</html>