<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <style>
        body {
            background: url("{% static "images/cup-of-coffee-1280537_1920.jpg" %}") no-repeat center center/cover fixed;
        }

        label {
            font-weight: bold;
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
{% include 'navigation.html' %}
<div class="container" style="background: rgba(255,255,255,0.8);padding-bottom: 1.5%">
    <h1 class="text-center" style=";font-size: 40px ;color: blue;padding-top: 10%;margin-bottom: 3%">CHANGE
        PASSWORD</h1>
    <form action="actionchangepassword" method="GET" class="w-75 mx-auto p-3" style="box-shadow: 1px 1px 35px black">
        <div class="w-75 mx-auto p-3">
            <div class="form-group ">
                <label for="email" style="font-size: 25px;font-style: italic">Enter old password</label>
                <input type="text" class="form-control" name="oldpassword">
            </div>

            <div class="form-group ">
                <label for="password" style="font-size: 25px;font-style: italic">Password</label>

                <input type="password" data-rule-required="true"
                       data-msg-required="Enter Password"
                       name="password" id="password" class="form-control">
            </div>

            <div class="form-group ">
                <label for="confirmpassword" style="font-size: 25px;font-style: italic">Confirm
                    Password</label>

                <input type="password"
                       data-rule-equalto="#password"
                       data-msg-equalto="Password & confirm password must be same"
                       data-rule-required="true"
                       data-msg-required="Enter Confirm Password"
                       name="newpassword" id="conpassword" class="form-control">

            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-success w-50 badge-pill">Add</button>
            </div>
        </div>
    </form>
    <script src="{% static "js/dist/jquery.validate.js" %}"></script>
</div>
</body>
</html>