<!DOCTYPE html>
<html lang="zxx">

<head>
    {% load static %}
    <title>EduWily Education Category Bootstrap Responsive Web Template | Home :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="EduWily Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all"/>
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i " rel="stylesheet">
    <!-- //Fonts -->
</head>


<body>
<!-- home -->
<div id="home" class="inner-w3pvt-page">
    <div class="overlay-innerpage">
        <!-- banner -->
        <div class="top_w3pvt_main container">

            <!-- nav -->
            <div class="nav_w3pvt text-center">
                <!-- nav -->
                <nav class="lavi-wthree">
                    <a class="navbar-brand" href="index"><span class="h1 ">Computerised Exam</span></a>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop"/>
                    <ul class="menu">
                        <li class="active"><a href="{% static index.html %}">Home</a></li>
                        <li><a href="index#aboutme">About</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle">Drop Down<span class="fa fa-angle-down"
                                                                              aria-hidden="true"></span> </label>
                            <a>Updates & More <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2"/>
                            <ul>
                                <li><a href="index#features">Features</a>
                                </li>
                                <li><a href="index#services">Services</a>
                                </li>
                                <li><a href="index#gallery">Gallery</a>
                                </li>
                                <li><a href="index#test">Testimonials</a>
                                </li>
                                {#                                <li><a href="{% static " under.html" %}">Blogs</a>#}
                                {#                                </li>#}
                            </ul>
                        </li>
                        <li>
                        </li>
                        <li><a href="contact">Contact</a>
                        <li class="log-vj ml-lg-5"><a href="applicantlogin"><span class="fa fa-user-circle-o"
                                                                                  aria-hidden="true"></span> Login</a>
                        <li class="log-vj ml-lg-5"><a href="applicantsignup"><span class="fa fa-user-circle-o"
                                                                                   aria-hidden="true"></span> Signup</a>
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </div>
        <!-- //nav -->

    </div>
    <!-- //banner -->
</div>
<!-- //home -->

<!-- about -->
<section class="about py-5">
    <div class="container py-md-5">
        <h3 class="tittle-wthree text-center" style="text-decoration: underline solid red">Contact Us</h3>
        <p class="sub-tittle text-center mt-4 mb-sm-5 mb-4"></p>
        <div style="box-shadow: black 6px 1px 32px">
            {#                    <ul class="list-unstyled w3ls-items">#}
            {#                        <li>#}
            {#                            <div class="row mt-5">#}
            {#                                <div class="col-2">#}
            {#                                    <div class="con-icon">#}
            {#                                        <span class="fa fa-home"></span></div>#}
            {#                                </div>#}
            {#                                <div class="col-6">#}
            {#                                    <h6>Address</h6>#}
            {#                                    <p>Guru Nanak Dev university#}
            {#                                        <br>Amritsar#}
            {#                                        <br>Punjab,India</p>#}
            {#                                </div>#}
            {#                                <div class="col-2">#}
            {#                                    <div class="con-icon">#}
            {#                                        <span class="fa fa-phone"></span> </div>#}
            {#                                </div>#}
            {#                                <div class="col-2">#}
            {#                                    <h6>Phone</h6>#}
            {#                                    <p>8977656678</p>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </li>#}
            {##}
            {#                        <li>#}
            {#                            <div class="row mt-5">#}
            {#                                <div class="col-3">#}
            {#                                    <div class="con-icon">#}
            {#                                        <span class="fa fa-envelope"></span></div>#}
            {#                                </div>#}
            {#                                <div class="col-9">#}
            {#                                    <h6>Email</h6>#}
            {#                                    <a>gagan@gmail.com</a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </li>#}
            {#                        <li>#}
            {#                            <div class="row mt-5">#}
            {##}
            {#                            </div>#}
            {#                        </li>#}
            {#                    </ul>#}
            <div class="row">
                <div class="col-sm-6">
                    <div class="pt-5 pl-5 w-100">
                        <i class="fa fa-home"></i>
                        <ul class="list-unstyled">
                            <li class="h3">
                                Guru Nanak Dev University

                            </li>
                            <li class="h3">

                                    Amritsar

                            </li>
                            <li class="h3">

                                    Punjab, India.

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mt-5 p-5 w-100">
                        <span><i class="fa fa-phone"></i>
                        <span class="h3 ml-3">8977656678</span></span>
                    </div>
                </div>
            </div>
            <hr class="bg-danger w-75">
            <div class="text-center p-3">
                <span><i class="fa fa-envelope"></i>
                <span class="h3 ml-3">gagan@gmail.com</span></span>
            </div>
        </div>
    </div>
    <div class="map-wthree mt-5 p-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108704.20942066688!2d74.80007957760498!3d31.63367119450077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391964aa569e7355%3A0xeea2605bee84ef7d!2sAmritsar%2C%20Punjab!5e0!3m2!1sen!2sin!4v1574726072886!5m2!1sen!2sin"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>
<!-- //about -->

<!-- //footer -->
<!-- copyright -->
<div class="copy_right p-3 d-flex justify-content-around">

    <p>© 2019 Computerised Exam. All rights reserved | Design by
        <a>gagandeep</a>

    </p>
    <!-- move top -->
    <div class="move-top">
        <a class="move-top">
            <span class="fa fa-angle-double-up mt-3" aria-hidden="true"></span>
        </a>
    </div>
    <!-- move top -->
</div>
<!-- //copyright -->


</body>

</html>

