<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-3.4.1.js" %}"></script>
    <script>
        $(document).ready(function () {
            $("input").focus(function () {
                $(this).css("background-color", "gainsboro");

            });
            $("input").blur(function () {
                $(this).css("background-color", "white");
            });
        });

    </script>
    <style>
body
{
background-image:url("{% static "exams.jpg" %}");
background-repeat:no-repeat;
background-size: 50%;
    background-position: left;
}
</style>
</head>
<body>

<div class="container">
    <h1 class="text-center" style=" ;color: blue; font-size: 40px">RECOVER PASSWORD</h1>
<form action="login" method="GET">


        <div class="row">
            <div class="col-sm-3"></div>
            <div class="form-group col-sm-5">
            <label for="email"  style="font-size: 25px;font-style: italic">Enter  your Email</label>
            <input type="text" required class="form-control" name="email" id="email">
        </div>
        </div>


            <div class="form-group col-sm-8 float-right">
                <button type="submit" class="btn btn-success">SUBMIT</button>
{#            <input type="submit" style="" class=" btn btn-success" value="login">#}
            </div>

</form>

</div>
</body>
</html>
</body>
</html>