<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-sm fixed-top bg-dark navbar">

    <ul class="list-unstyled d-inline-flex">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Admin
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="adminsignup">Add admin</a>
                <a class="dropdown-item" href="viewadmin">View admin</a>
                <a class="dropdown-item" href="changepasswordpage">Change password</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Questions
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="questions">Add questions</a>
                <a class="dropdown-item" href="viewquestion">View questions</a>

            </div>
        </li>
        <li class="nav-item dropdown">
            <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Streams
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="addstream">Add Streams</a>
                <a class="dropdown-item" href="viewstream">View Streams</a>

            </div>
        </li>
        <li class="nav-item dropdown">
            <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Sections
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="addsections">Add Sections</a>
                <a class="dropdown-item" href="viewsection">View Sections</a>

            </div>
        </li>
        <li class="nav-item active">
            <a style="color:white;" class="nav-link" href="adminlogout">Logout<span class="sr-only">(current)</span></a>
        </li>
    </ul>
</nav>
