<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <style>
        body {
            background: url("{% static "images/notebook-1280538_1920.jpg" %}") no-repeat center center/cover fixed;
        }

        label {
            font-weight: bold;
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
{% include 'navigation.html' %}
<div class="container">
    <h1 class="text-center p-5 mt-5" style=" color: lightcyan;font-size: 40px;background: rgba(0,0,0,0.5)">VIEW ADMIN</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-light" style="font-size: 15px;">
            <tr>
                <th class="btn-dark">Email</th>
                <th class="btn-dark">Password</th>
                <th class="btn-dark">Type</th>
                <th class="btn-dark">Mobileno</th>
                <th class="btn-dark">Action</th>
                <th class="btn-dark"></th>
            </tr>
            {% for item in ar %}
                <tr>
                    <td>{{ item.email }}</td>
                    <td>{{ item.password }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.mobile }}</td>
                    <td><a href="deleteadmin?q={{ item.email }}"><img style="width: 25px; height: 25px"
                                                                      src="{% static "delete.png" %}"></a></td>
                    <td><a href="editadmin?q1={{ item.email }}"><img style="width: 25px; height: 25px"
                                                                     src="{% static "edit.png" %}"></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>

</html>